<div class="section no-pad-bot" id="index-banner">
<div class="container">
  <br><br>
  <h2 class="header center deep-purple-text text-darken-4"> <b class="deep-purple-text text-accent-2">Element</b>Pay</h2>
  <div class="row center">
    <h5 class="header col s12 small">Платежи для вашего бизнеса</h5>
  </div>
  <div class="row center">
    <a href="#" id="download-button" class="deep-purple-text text-darken-3 btn-large waves-effect waves-light deep-purple accent-1">Подробнее</a>
  </div>
  <br><br>

</div>
</div>
