<h3>Соглашение пользователя</h3>

<p>
  ИП Балашов Денис Алексеевич, ИНН 771580421291 зарегистрированное в соответствии с законодательством Российской Федерации, именуемое в дальнейшем "Агент", с одной стороны и физическое лицо, именуемое в дальнейшем "Получатель", с другой стороны, совместно именуемые "Стороны", заключили настоящий Договор о нижеследующем:

</p>

  <h5>ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h5> 
  
<p>Оферта - публичное предложение Агента, адресованное любому физическому лицу, достигшему возраста гражданской дееспособности, работающему в организациях сферы обслуживания и услуг, заключить с ним договор (далее — Договор) на существующих условиях, содержащихся в Договоре.
</p>
  <p>
Акцепт – выполнение действий, которые свидетельствуют о заключении Договора на условиях настоящей оферты.
  </p>

<p>
  Сервис (Сервис по приему чаевых на банковские карты) - электронный сервис, реализованный в веб-версии и на платформах мобильных приложений, позволяющий Получателям принимать Чаевые от Клиентов. Право пользоваться Сервисом на территории всего мира, без права переделки или иной переработки, без права распространения предоставляется бесплатно.

</p>

<p>Получатель – физическое лицо (работник сферы обслуживания или развлечений) принявшее условия настоящего Договора с Агентом и являющееся получателем денежных средств, перечисляемых Клиентами.</p>

<p>Клиент – лицо, осуществляющее безналичное перечисление Чаевых в пользу Получателя в порядке дарения (в соответствии со статьей 217 НК РФ п.18.1) и ст. 572 ГК РФ.
Чаевые – добровольное безвозмездное денежное поощрение получателя Клиентом, несвязанное с встречным предоставление услуг и/или работ.</p>

<h5>ПРЕДМЕТ ДОГОВОРА</h5>
<p>2.1. Осуществление процессингового обслуживания Сервиса, а также расчет и передачу Чаевых, принятых Агентом в пользу Получателя.</p>
<p>2.2. По настоящему Договору Агент выступает также как Лицензиар (разработчик и единственный законный правообладатель Сервиса как программы), а Получатель как Лицензиат, который получает право использовать простую ограниченную неисключительную безвозмездную лицензию на Сервис, на все время действия Договора, на территории всех стран мира, исключительно для реализации функционала, заложенного в Сервисе и с учетом условий Договора.</p>
<p>2.3. Представление информации о принятых в пользу Получателя Чаевых производится в электронной форме в согласованных Сторонами форматах и средств связи на портале www.elementpay.ru или через мобильное приложение «Чаевые картой».</p>
<p>2.4. Настоящий Договор заключается путем акцепта Получателем оферты. Акцептом оферты является совершение Получателем действий, предусмотренных п.п. </p>

 <h6>РЕГИСТРАЦИЯ НА СЕРВИСЕ. УЧЕТНАЯ ЗАПИСЬ ПОЛУЧАТЕЛЯ</h6>

<p>3.1. После ознакомления Получателя с офертой, содержащей условия настоящего Договора, договор считается заключенным, а акцепт – полученным Агентом в случае совершения Получателем регистрации на сайте Агента www.elementpay.ru. Для регистрации на Сервисе Агента Получатель должен указать следующие регистрационные данные: Имя, Фамилия, Отчество, Пол, Адрес места регистрации и места жительства, Номер телефона, E-mail, Должность, Фото, платежные реквизиты для перечисления Чаевых. Регистрация Получателя также возможна путем авторизации на Сервисе через личный аккаунт в социальной сети, при условии добавления недостающих данных в соответствии с требованиями Сервиса.</p>
<p>3.2. Получатель обязуется при регистрации предоставить достоверную информацию о себе и поддерживать эту информацию в актуальном состоянии, в противном случае Агент имеет право по своему усмотрению отказать Получателю в регистрации или удалить соответствующую учетную запись.</p>
<p>3.3. Агент оставляет за собой право в любой момент потребовать от Получателя подтверждения данных, указанных при регистрации, и запросить в связи с этим подтверждающие документы (в частности – документы, удостоверяющие личность), отказ от предоставление которых или не предоставление в указанный Агентом срок, по усмотрению Агента, может быть приравнено к предоставлению недостоверной информации.</p>
<p>3.4. Получатель обязуется не использовать на Сервисе, в том числе в своем логине, товарные знаки (знаки обслуживания), права на которые он не имеет. Агент вправе запретить использование определенных логинов, URL-адресов, а также устанавливать дополнительные требования к ним (длина, допустимые символы и т.д.).</p>
<p>3.5. Получатель обязуется использовать учетную запись лично. Передача доступа к своей учетной записи третьим лицам запрещена.</p>
<p>3.6. Получатель самостоятельно несет ответственность за безопасность (устойчивость к угадыванию) выбранных им средств для доступа к учетной записи, а также самостоятельно обеспечивает их конфиденциальность. Получатель самостоятельно несет ответственность за все действия (а также их последствия), совершенные под его учетной записью, включая случаи добровольной передачи Получателем данных для доступа к своей учетной записи третьим лицам на любых условиях (в том числе по договорам или соглашениям). При этом все действия, совершенные под учетной записью Получателя, считаются произведенными самим Получателем, за исключением случаев, когда Получатель уведомил Агента о несанкционированном доступе к учетной записи Получателя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своих средств доступа к учетной записи.</p>
<p>3.7. Получатель обязан немедленно уведомить Агента о любом случае несанкционированного (не разрешенного Получателем) доступа к учетной записи Получателя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своих средств доступа к учетной записи. В целях безопасности, Получатель обязан самостоятельно осуществлять безопасное завершение работы под своей учетной записью по окончании каждой сессии работы в Сервисе (если это применимо). Агент не отвечает за возможную потерю или порчу данных, а также другие последствия любого характера, которые могут произойти из-за нарушения Получателем положений настоящего пункта Договора.</p>
<p>3.8. Получатель вправе самостоятельно в любой момент удалить свою учетную запись. Удалением учетной записи настоящий Договор прекращает свое действие.</p>

<h6>ПРАВА И ОБЯЗАННОСТИ СТОРОН
</h6>
<p>4.1. Получатель обязуется:
</p>
<p>4.1.1. Не предпринимать действий направленных на понуждение Клиентов к перечислению денежных средств, оставлению положительного отзыва, и прочим действиям, которые могут повлиять на доверие Клиентов к Сервису;</p>
<p>4.1.2. Своевременно и в полном объеме ознакомиться и соблюдать условия настоящего Договора Соблюдать требования настоящего Договора;</p>
<p>4.1.3. При наличии претензий в течение 3 (Трех) календарных дней с момента получения денежных средств предъявить их Агенту на адрес электронной почты pay@elementpay.ru</p>
<p>4.1.4. Не размещать с помощью Сервиса материалы и информацию, нарушающие действующее законодательство, включая, но не ограничиваясь следующим: порно, клевету, оскорбления, призывы к насилию, свержению власти, рассылку спама, вредоносных программ;</p>
<p>4.1.5. Предоставить ИНН, адрес регистрации и действительные банковские реквизиты для осуществления перечисления в адрес Получателя.</p>
<p>4.1.7. Уплатить Агенту вознаграждение.
</p>
<p>4.1.8. Самостоятельно исчислять, декларировать и уплачивать в бюджетную систему налоги в соответствии с действующим законодательством.</p>
<p>4.2. Получатель вправе:
</p>
<p>4.2.1. Получать перечисляемые Клиентами Чаевые на условиях настоящего Договора.
</p>
<p>4.2.2. Получать от Агента по электронным каналам связи в согласованном сторонами формате сведения о размере принятых в пользу Получателя Чаевых.</p>
<p>
4.2.3. Вносить изменения в следующие сведения, указанные в учетной записи: Номер телефона, E-mail, Должность, Фото, платежные реквизиты для перечисления Чаевых.</p>
<p>4.3. Агент обязуется:
</p>
<p>4.3.1. Обеспечить бесперебойный прием Чаевых в пользу Получателя;
</p>
<p>4.3.2. Обеспечить возможность приема Получателем Чаевых в соответствии с условиями настоящего Договора</p>
<p>4.3.3. Денежные средства, перечисляемые Получателю, не являются вознаграждением и доходом Агента, за исключением комиссии, взимаемой в рамках Договора;</p>
<p>4.3.4. В полном объеме и в срок исполнять все обязательства, принятые на себя по настоящему Договору;</p>
<p>4.3.5. Уведомлять Получателя об изменении условий настоящего Договора и тарифов посредством электронной почты, указанной Получателем в учетной записи.</p>
<p>4.4. Агент вправе:
</p>
<p>4.4.3. Осуществить блокирование учетной записи в следующих случаях нарушения Получателем п. 4.1.1, 4.1.4.</p>
<p>4.4.4. Вносить в одностороннем порядке изменения в условия настоящего Договора.
  </p> 
<h6>   УСЛОВИЯ И ПОРЯДОК РАСЧЕТА СТОРОН
</h6>
<p>5.1. Прием Чаевых в пользу Получателя происходят в следующем порядке:
1) суммы платежей Клиентов агрегируются Агентом (и отражаются в учетной записи Получателя, оформленном в порядке п. 2.3 Договора);
2) принятые Агентом Чаевые перечисляются Получателю ежедневно, на основании заявки поданной через личный кабинет. Минимальная сумма заявки 500 рублей. Исполнение заявок, поданных в рабочий день до 16 часов, производится в тот же день, поданных после 16 часов и выходные дни – в первый рабочий день;
3) Размер единовременно выплачиваемых Чаевых не может превышать 15 000 рублей;
4) Получатель вправе сделать запрос на досрочное перечисление Чаевых, и в случае наличия такой возможности Агент производит такое перечисление;
5) В случае отказа получателя от дальнейшего сотрудничества, Агент производит перечисление всех принятых до даты прекращения действия настоящего Договора чаевых.</p>

<p>5.2. Вознаграждение удерживается Агентом самостоятельно из поступающих сумм Чаевых в размере, установленном в п. 5.3.</p>
<p>5.3. За совершаемые в рамках настоящего Договора действия Агент получает вознаграждение в размере 6% от полученных сумм Чаевых.</p>

<h6>РАСТОРЖЕНИЕ ДОГОВОРА
</h6>
<p>5.1. Договор может быть расторгнут:
1) в одностороннем внесудебном порядке по инициативе любой из Сторон;
2) по иным основаниям, предусмотренным Договором, а также действующим законодательством.
</p>
<h6>ОТВЕТСТВЕННОСТЬ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
</h6>
<p>6.1. За нарушение условий Договора Стороны несут ответственность, установленную Договором и действующим законодательством.</p>

<p>6.2. Совокупный размер ответственности Агента по Договору, включая размер штрафных санкций (пеней, неустоек) и/или возмещаемых убытков, по любому иску или претензии в отношении Договора или его исполнения, ограничивается стоимостью платежей за месяц, в котором были понесены убытки, в случае, если данные убытки будут документально подтверждены.</p>
<p>
  6.3. Агент не несет ответственности за:
убытки и/или упущенную выгоду Получателя и/или третьих лиц при пользовании Сервиса или невозможности такого использования вне зависимости от того, мог Агент предвидеть возможность таких убытков или нет;
любые задержки, прерывания, ущерб или потери, происходящие из-за:
дефектов в любом электронном или механическом оборудовании, не принадлежащем Агенту;
проблем при передаче данных или соединении, произошедших не по вине Агента.</p>
<p>6.4. В случае возникновения обстоятельств непреодолимой силы (форс-мажорных обстоятельств), к которым относятся: стихийные бедствия, аварии, пожары, массовые беспорядки, забастовки, военные действия, противоправные действия третьих лиц, вступление в силу законодательных актов, правительственных постановлении и распоряжений государственных органов, прямо или косвенно запрещающих указанные в настоящем Договор виды деятельности, препятствующие осуществлению Сторонами своих функции по настоящему Договору и иных обстоятельств, не зависящих от волеизъявления Сторон, они освобождаются от ответственности за неисполнение взятых на себя обязательств, если в течение 10 дней с момента наступления таких обстоятельств и при наличии связи Сторона, пострадавшая от их влияния, доведет до сведения другой Стороны известие о случившемся, а также предпримет все усилия для скорейшей ликвидации последствий форс-мажорных обстоятельств.</p>
<p>6.5. Сервис является результатом интеллектуальной деятельности Агента и защищается действующим законодательством.</p>
<p>6.6. В Сервисе не используются никакие элементы в нарушение прав третьих лиц.
</p>
<p>6.7. Получатель соглашается с тем, что никакое ПО не свободно от ошибок. Сервис предоставляется со стандартными для всех Клиентов, Получателей и партнеров функциями на общепринятом в мировой практике принципе «таким, каков он есть» («as is»). Агент не предоставляет никаких гарантий, явных или подразумеваемых, что ПО будет отвечать требованиям или ожиданиям Получателя, будет соответствовать целям и задачам Получателя.</p>
<p>6.8. Клиент соглашается с тем, что для работы с ПО Получателю необходимо использовать программное обеспечение (веб-браузеры, операционные системы и прочее) и оборудование (персональные компьютеры, сетевое оборудование и прочее) произведенное и предоставленное третьими лицами, и Агент не несет ответственность за качество их работы.</p>
<p>6.9. Получатель гарантирует, что он не будет копировать, модифицировать, переводить, декомпилировать, дизассемблировать, переконструировать или каким-либо другим способом предпринимать попытки переводить объектный код ПО в форму понятную человеку, или производить какие-либо производные действия, а также не позволять никому делать вышеозначенное, кроме случаев, прямо предусмотренных действующим законодательством.</p>
<p>6.10. В случае утери и (или) разглашения Получателем логина и пароля доступа к Сервису, Получатель самостоятельно несет риск возможных неблагоприятных для него последствий.</p>
<p>6.11. По части реализации платежной инфраструктуры работа Сервиса построена исключительно на финансовых сервисах партнеров и не подпадает под требования по открытию НКО.</p>
<p>6.12. Получатель соглашается с тем, что Агент не несет ответственности за сбои в работе платежных систем и Партнеров, непосредственно осуществляющих сами денежные переводы.</p>
<p>6.13. Агент не обрабатывает на своей стороне данные банковских карт Клиентов и Получателей и тем более не хранит подобные данные на своей стороне. Обработкой ввода данных карт, проведением самих платежей занимаются Партнеры. На стороне Агента хранится исключительно некритичная информация о проведенных транзакциях - сумма, время транзакции, статус и возможно местоположение Клиента и Получателя в момент проведения платежа.</p>
<p>6.15 Получатель самостоятельно несет ответственность риски любых убытков или иных негативных последствий, которые могут у него возникнуть в результате приема Чаевых по настоящему Договору.</p>
<h6>ГАРАНТИИ БЕЗОПАСНОСТИ ПЛАТЕЖЕЙ
</h6>
<p>7.1. Все платежи проводятся партнером Агента - НКО «ЭПС» (ООО) ИНН 7750005700, лицензия Банка России №3509-К от 11.02.2013, или иными партнерами, информация о которых в той или иной мере размещена в Сервисе или в Договоре. Партнеры защищают и обрабатывают данные Клиента и банковской карты Клиента по стандарту безопасности PCI-DSS. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Партнер не передает данные банковских карт Клиентов Агенту и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.</p>
<p>7.2. В случае возникновения вопросов по совершенному платежу, Получатель может обратиться в службу поддержки - pay@elementpay.ru</p>
<p>7.3. Безопасность обработки Интернет-платежей гарантирует Партнер(-ры). Все операции с платежными картами происходят в соответствии с требованиями Visa International и MasterCard WorldWide.</p>
<h6>РАЗРЕШЕНИЕ СПОРОВ
</h6>
<p>8.1. В случае наличия неурегулированных разногласий Стороны договорились о соблюдении претензионного порядка, при этом срок рассмотрения претензии составляет 5 (пять) рабочих дней с момента ее получения.</p>
<p>8.2. При неурегулировании спорных вопросов Стороны договорились о рассмотрении споров в суде по месту нахождения Агента.</p>

<h6>КОНФИДЕНЦИАЛЬНОСТЬ И ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h6>
<p>9.1. Каждая из Сторон обязуется не разглашать конфиденциальную информацию, полученную от другой Стороны в связи с исполнением Договора.</p>
<p>9.2. Для целей Договора «Конфиденциальная Информация» означает всю информацию, касающуюся тайн, деловых отношений, сделок, или связей Получателя (Стороны, которая передают ту или иную информацию), сведения о которых могут попасть к Агенту (Сторона, которая получает ту или иную информацию) в любом формате или на любом носителе.</p>
<p>9.3. Взамен на согласие Получателя предоставить информацию Агенту в соответствии с Договором Агент обязуется обеспечить, что вся Конфиденциальная Информация Получателя:</p>
<p>9.3.1. хранится как конфиденциальная и не воспроизводится, не копируется (сверх разумно необходимого для целей Договора);</p>
<p>9.3.2. не будет передана, раскрыта или другим образом станет доступной любой другой третьей Стороне (за исключением должностных лиц, работников, доверенных лиц Агента, которым необходимо знать и использовать Конфиденциальную Информацию для целей Договора);</p>
<p>9.3.3. не используется ни для какой иной цели, за исключением целей Договора;
</p><p>9.3.4. хранится с соблюдением мер безопасности.
</p>
<p>9.4. Положения настоящего Договора не подлежат применению к информации, которая:
</p>
<p>9.4.1. является или становится общеизвестной по причинам, не связанным с нарушениями со стороны Агента;</p>
<p>9.4.2. Открыта для распространения Получателем;
</p><p>9.4.3. должна быть раскрыта в соответствии с законом или любым нормативно-правовым актом органа Исполнительной власти;</p>
<p>9.4.4. стала известна или была известна Агенту без нарушения Агентом любых обязательств о конфиденциальной информации.</p>
<p>9.5. Стороны признают, что Получатель в интересах сохранения Конфиденциальной Информации или предотвращения раскрытия любой другой информации, которая, по мнению Получателя, должна быть сохранена в тайне, имеет право скрыть, замаскировать, либо любым другим образом изменить эту информации. При этом Получатель обязан сохранить без изменений структуру и формат предоставляемых данных.</p>
<p>9.6. В случае если Агенту становятся известны факты незаконного копирования, раскрытия или использования любой Конфиденциальной Информации Получателя Агент обязуется незамедлительно известить Получателя, а в случае если Получатель потребует, предпринять меры, которые будут необходимы для предотвращения дальнейшего незаконного копирования, раскрытия или использования.</p>
<p>9.7. Обязательства Агента по настоящему Договору являются бессрочными и остаются в силе на неопределенный срок.</p>
<p>9.8. Предоставляя свои персональные данные (фамилия, имя, отчество, контактные данные, и иные) Получатель соглашается на их обработку Агентом. Агент обязуется не разглашать полученные от Получателя персональные данные. Не считается нарушением 1) предоставление Агентом персональных данных Получателя и соответствующей информации третьим лицам, действующим на основании договора с Агентом для исполнения договорных обязательств перед Получателем, 2) предоставление информации в соответствии с обоснованными и применимыми требованиями действующего законодательства.</p>
<p>9.9. Совершая акцепт настоящей оферты, Получатель дает Агенту свое согласие на обработку (т.е. действия, указанные в п. 3 ст. 3 ФЗ «О персональных данных» от 27.06.2006 N 152-ФЗ) его персональных данных, указанных в п. 3.1, в целях исполнения Агентом своих обязательств в рамках настоящего Договора.</p>
<h6>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h6>
<p>10.1. Применимым правом к отношениям, связанным или вытекающим из действия Договора, является право Российской Федерации.</p>
<p>10.2. Договор вступает в силу с момента акцепта условий Договора Получателем (п.2.5. Договора) и действует до любого из условий, указанных в п. 5.1. Договора.
</p>
<p>10.3. Агент оставляет за собой право внести изменения в условия Договора и/или отозвать Договор в любой момент по своему усмотрению. В случае внесения Агентом изменений в Договор, такие изменения вступают в силу с момента размещения измененного текста Договора в Сервисе.
  </p>  
<h6>  РЕКВИЗИТЫ АГЕНТА
</h6>

<p>АГЕНТ ИП Балашов Денис Алексеевич
</p><p>Юридический адрес: 123560, г.Москва, ул.Коненкова д.12 кв.194</p>
<p>Телефон: +7 (925) 824-4577 www.elementpay.ru
</p><p>Электронная почта: pay@elementpay.ru
</p><p>ИНН/КПП: 771580421291</p>
 

