
<h3>Политика конфиденциальности
</h3> 
<p>Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую ИП Балашов Д.А., юридическое лицо, зарегистрированное в соответствии с законодательством Российской Федерации (далее — Element) может получить о Пользователе во время использования им Сервиса (Element) и в ходе исполнения Сервиса «Element» любых соглашений и договоров с Пользователем.</p>
<p>Использование сервиса означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сервиса.</p>
<p>Термин «Пользователь» для настоящей Политике имеет значение всех участников Сервиса (Получатель, Клиент).</p>
<h6>Персональная информация Пользователей, которую обрабатывает Сервис «Element»</h6>
<p>1.1. В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:
</p><p>1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования Сервиса (Имя, Фамилия, Пол, Номер телефона, E-mail.; для аккаунта дополнительные данные: Отчество, Должность, Фото, Компанию, Геолокацию;</p>
<p>1.1.2. Данные, которые в процессе использования Сервиса автоматически передаются с помощью, установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сервису), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сервису, адреса запрашиваемых страниц и иная подобная информация. Указанные в настоящем пункте данные и данные указанные в п. 5. настоящей Политики являются обезличенными в силу их природы и их невозможно привязать к какому-либо Пользователю;</p>
<p>1.1.3. Иная информация о Пользователе, обработка которой предусмотрена условиями использования Сервиса «Element».</p>
<p>1.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сервиса. Сервис «Element» не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным в Сервисе «Element».</p>
<p>1.3. Сервис «Element» не проверяет достоверность персональной информации, предоставляемой Пользователем, и не имеет возможности оценивать его дееспособность. Однако Сервис «Element» исходит из того, что пользователь предоставляет достоверную персональную информацию и поддерживает эту информацию в актуальном состоянии.</p>
<h6>Цели обработки персональной информации Пользователей</h6>
<p>2.1. Сервис «Element» собирает и хранит только ту персональную информацию, которая необходима для предоставления Сервиса или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.</p>
<p>2.2. Персональную информацию Пользователя Сервис «Element» обрабатывает в следующих целях:
</p><p>2.2.1. Идентификация стороны в рамках использования Сервиса «Element»;</p>
<p>2.2.2. Предоставление Пользователю персонализированного Сервиса и исполнение соглашений и договоров;</p>
<p>2.2.3. Связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования сервисов, исполнения соглашений и договоров;
</p><p>2.2.4. Улучшение качества Сервиса, удобства его использования, разработка новых сервисов;</p>
<p>2.2.5. Проведение статистических и иных исследований, на основе обезличенных данных.
</p>
 <h6>Условия обработки персональной информации Пользователей и её передачи третьим лицам</h6>
<p>3.1. Element хранит персональную информацию Пользователей в соответствии с внутренними регламентами Сервиса.</p>
<p>3.2. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.</p>
<p>3.3. Element вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:</p>
<p>3.3.1. Пользователь выразил согласие на такие действия;
</p><p>3.3.2. Передача необходима для исполнения определенного соглашения или договора с Пользователем;</p>
<p>3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</p>
<p>3.3.4. В целях обеспечения возможности защиты прав и законных интересов сервиса «Element» или третьих лиц в случаях, когда Пользователь нарушает Пользовательское соглашение, настоящую Политику либо другие правила, регламентирующие взаимоотношения Element и Пользователя;</p>
<p>3.3.5. В результате обработки персональной информации Пользователя путем ее обезличивания получены обезличенные статистические данные, которые передаются третьему лицу для проведения исследований по поручению Element.</p>
<p>3.4. При обработке персональных данных Пользователей Element руководствуется Федеральным законом РФ «О персональных данных».</p>
<h6>Изменение и удаление персональной информации. Обязательное хранение данных</h6>
<p>4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть.</p>
<p>4.2. Пользователь также может удалить предоставленную им персональную информацию.
</p><p>4.3. Права, предусмотренные пп. 4.1. и 4.2. настоящей Политики могут быть ограничены в соответствии с требованиями законодательства. В частности, такие ограничения могут предусматривать обязанность Element сохранить измененную или удаленную Пользователем информацию на срок, установленный законодательством, и передать такую информацию в соответствии с законодательно установленной процедурой государственному органу.</p>
 <h6>Обработка персональной информации при помощи файлов Cookie и счетчиков</h6>
<p>5.1. Файлы cookie, передаваемые сервису «Element» оборудованию Пользователя и оборудованием Пользователя Сервиса «Element», могут использоваться сервисом «Element» для предоставления Пользователю персонализированных сервисов, в статистических и исследовательских целях, а также для улучшения работы сервиса.</p>
<p>5.2. Пользователь осознает, что оборудование и программное обеспечение, используемые им для использования Сервиса, могут обладать функцией запрещения операций с файлами cookie, а также удаления ранее полученных файлов cookie.</p>
<p>5.3. Element вправе установить, что предоставление определенного сервиса возможно лишь при условии, что прием и получение файлов cookie разрешены Пользователем.</p>
<p>5.4. Структура файла cookie, его содержание и технические параметры определяются Сервисом " Element " и могут изменяться без предварительного уведомления Пользователя.</p>
<p>5.5. Счетчики, размещенные в сервисе «Element», могут использоваться для анализа файлов cookie Пользователя, для сбора и обработки статистической информации об использовании сервисов, а также для обеспечения работоспособности сервисов в целом или их отдельных функций в частности. Технические параметры работы счетчиков определяются Element и могут изменяться без предварительного уведомления Пользователя.
</p>

<h6>Меры, применяемые для защиты персональной информации Пользователя</h6>
<p>6.1. Сервис «Element» принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
<p>6.2. Все платежи проводятся партнером сервиса - НКО «ЭПС» (ООО) ИНН 7750005700, лицензия Банка России №3509-К от 11.02.2013 или иными партнерами, информация о которых в той или иной мере размещена в Сервисе или в Договоре. Партнеры защищают и обрабатывают данные Клиента и банковской карты Клиента по стандарту безопасности PCI-DSS. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Партнер не передает данные банковских карт Клиентов Агенту и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.</p>
<p>6.3. Оплата банковской картой онлайн. В сервисе «Element» реализована возможность совершить платеж банковской картой Visa или Mastercard. После выбора способа оплаты откроется защищенное окно с платежной страницей Партнера, где необходимо ввести данные банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если банк, выпустивший карту, поддерживает данную технологию, происходит перенаправление на сервер банка-эмитента для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации необходимо уточнить в банке-эмитенте, при необходимости.</p>
<p>6.4. Безопасность обработки Интернет-платежей гарантирует Партнер(-ры). Все операции с платежными картами происходят в соответствии с требованиями Visa International и MasterCard WorldWide.</p>
<h6> Изменение Политики конфиденциальности</h6>
<p>7.1. Сервис «Element» имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.</p>
<p>7.2. К настоящей Политике и отношениям между Пользователем и Сервис «Element», возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
</p>
<h6>Обратная связь. Вопросы и предложения
</h6><p>8.1. Все предложения или вопросы по поводу настоящей Политики Пользователь вправе направлять в Службу поддержки пользователей Сервиса «Element» pay@elementpay.ru.
Версия документа: от 01 Октября 2019 г.</p>