
<%= simple_form_for(@tip) do |f| %> 

  <%= f.input :amount, label: 'Сколько оставить чаевых?' %>

  <%= f.hidden_field :user_id, placeholder: "Напишите отзыв", as: :text, label: 'Отзыв' %>


<br>
<div class="col s12">
<div class="right-align">
<%= f.submit "Продолжить", class: "waves-effect waves-light btn  deep-purple accent-1"  %>

</div>
</div>

      <% end %>



    
             