


      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="container-fluid">
        <div class="row">

    <div class="col s8 offset-s2 white-text card  hoverable">
        <div class="col s12 center">
        <h4 class="text-center orange-text light"><small>Выберите сумму</small></h4>
          </div>
        <div class="divider"></div>  
        <%= simple_form_for(@tip) do |f| %> 

        <div class="input-field col s12">
          <%= f.input :amount, label: 'Сколько оставить чаевых?', autofocus: true %>

        </div>
        <div class="input-field col s12">
        <%= f.hidden_field :user_id %>

      </div>




  
        <div class="col s12">&nbsp;</div>
        <div class="col s12 center">
        <%= f.submit "Продолжить", class: "col s12 btn deep-purple accent-3 hoverable"  %>


          </div>
        <div class="col s12">&nbsp;</div>
      </div>
        </div>
        </div>    
        <% end %>

