

    <footer class="page-footer deep-purple darken-3">
      <div class="container  ">
        <div class="row  ">
 

        <div class="col s6  ">
          <h5 class="white-text">Element</h5>
          <p>
              127560, г.Москва, ул.Коненкова д.12 кв.194 <br>
            Телефон:  +7 (925) 824-4577 </br>
            Электронная почта: pay@elementpay.ru
          </p>
      </div>
      
      <div class="col s6  right-align">
          
              <ul>
              </br>

                <li>
                  <span  class="white-text">
                  <%= link_to 'Соглашение', '/static/offer', class: "white-text" %>


                  </span>
                  
                </li>

                <li>
                  <span  class="white-text">
                  <%= link_to 'Конфиденциальность', '/static/privacy', class: "white-text" %>

                  </span>
                  
                </li>


                <li>
                  <span  class="white-text">
                  <%= link_to 'Оставить Чаевые', '/tips/new/2', class: "white-text" %>

                  </span>
                  
                </li>

             
                <li>
                    <%= link_to 'Оценить обслуживание', '/reviews/new',  class: "white-text" %>
                </li>
                <li>

                </li>
                <li>

                </li>
              </ul>

      </div>
        </div>
  
        </div>
      </div>
      <div class="footer-copyright deep-purple  darken-4">
        <div class="container">
        Версия <a class="orange-text text-lighten-3" href="#">v0.4.5</a>

        <br>

        </div>


      </div>
    </footer>