<nav class=" deep-purple  darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo left">Element</a>
    <ul class="right">

      <% if current_user == nil %>
      <%= link_to('Вход', new_user_session_path, method: :get) %>

    <% else %>
            <li><%=  current_user.email %></li>

    <li><%= link_to('Выход', destroy_user_session_path, method: :delete) %>
</li>

    <% end %>
            
    </ul>


  </div>
</nav>


