<nav class=" deep-purple  darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo left">Element</a>
    <ul class="right">

      <li>

          
        </li>
            
    </ul>


  </div>
</nav>


